body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  margin: 0 auto;
}

.spacer {
  margin-bottom: 1em;
}

.topSpacer {
  margin-top: 1em;
}

.mainContainer {
  padding: 2rem 2rem;
  color: black;
  background-color: lightgray;
}

.productListItem {
  background-color: white;
  margin: 0.2em;
}

.productParagraph {
  margin: 0.5em 0em;
  color: darkslategray;
}

.fullWidth {
  width: 100%;
}

.productName {
  font-weight: bold;
}

.descriptionWrap {
  overflow-wrap: break-word;
}

.green {
  color: green;
}

.red {
  color: red;
}
